@import "../../../GlobalStyles";

.PageContainer {
    display: grid;
    grid-template-columns: @grid-fixed-width 1fr;
    gap: 10px;
    word-break: break-word;

    & h4 {
        margin-top: 0;
    }

    & h3 {
        margin: 0;
    }

    & h2 {
        margin: 0;
    }

    @media (max-width: @small-desktop-width) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);

        & > .ProfileMenu {
            flex-direction: row;
        }

        & .ProfileAvatarWrapper {
            height: 100%;
        }

        & .ProfileContacts {
            flex-grow: 1;
        }
    }

    @media (max-width: @mobile-width) {
        & .ProfileAvatarWrapper {
            width: 100%;
        }

        & > .ProfileMenu {
            flex-direction: column;
        }
    }
}

.ProfileContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    & > div {
        padding: 25px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    & p {
        white-space: pre-wrap;
    }
}

.ProfileAvatarWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    height: @grid-fixed-width;
    width: @grid-fixed-width;
    box-sizing: border-box;
}

.ProfileAvatar {
    height: calc(@grid-fixed-width - 50px);
    width: calc(@grid-fixed-width - 50px);
}

.ProfileMenu, .ProfileInfo {
    .ProfileContentWrapper();

    & .ProfileContacts {
        box-sizing: border-box;
        padding: 10px;
    }
}

.ProfileInfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VacancyWrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 150px);
    gap: 10px;
    align-items: center;

    & p {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: @mobile-width) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

        & p {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & button, a {
            margin: 0 auto;
        }
    }

    @media (max-width: @small-mobile-width) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);

        & p {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

.LinkParagraph {
    margin: 0.3em 0;
}
