@header-height: 80px;
@grid-fixed-width: 200px;

.ContentWrapperWithFilter {
    display: grid;
    grid-template-columns: @grid-fixed-width 1fr;
    gap: 10px;
}

.ProfileAvatar {
    height: 125px;
    width: 125px;

    & img {
        border-radius: 50%;
    }
}

.SvgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
