@import url("fonts/November/stylesheet.css");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "November LCG", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
