@import "../../GlobalStyles";

.PageContainer {
    max-width: 1000px;
}

.Profile {
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    & p {
        white-space: pre-wrap;
        margin-top: 0;
    }

    & h4 {
        margin: 0;
    }
}

.ProfileWrapper {
    .Profile();
    display: grid;
    grid-template-columns: @grid-fixed-width 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 25px;

    @media (max-width: @mobile-width) {
        grid-template-columns: 1fr;
        grid-template-rows: @grid-fixed-width repeat(2, auto);

        .ProfileAvatar {
            margin: 0 auto;
        }

        .ProfileAreaWithButton {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

.ProfileAvatar {
    height: @grid-fixed-width;
    width: @grid-fixed-width;

    & .onHoverPhoto {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    & .onHoverPhoto:hover {
        opacity: 1;
    }

    .AvatarSettings {
        position: absolute;
        box-sizing: border-box;
        border-radius: 50%;
        width:100%;
        height:100%;
        background: rgba(0, 0, 0, 0.5) url("./../../assets/settings.png") no-repeat center;
        filter: invert(1);
    }

    .InputFile {
        position:absolute;
        opacity:0;
        overflow:hidden;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.ProfileAreaWithButton {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}

.WorkerFormWrapper {
    .Profile();
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    @media (max-width: @mobile-width) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}

.EmployerFormWrapper {
    .Profile();
    display: flex;
    justify-content: center;

    & > .FormSection {
        max-width: 462.5px;
    }
}

.FormSection {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex-grow: 1;

    & > div {
        display: flex;
        gap: 0.5em;
        flex-direction: column;
    }
}

.ButtonWrapper {
    justify-content: flex-end;
    flex-grow: 1;

    & > div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    & > div > button {
        width: 150px;
    }
}
